SLACK_API_KEY=your-slack-api-key

# use a tool such as crontab.guru to generate this string
# this example means - every day from Monday through Friday, at 18:00
CRON_EXPRESSION=0 18 * * 1-5

SLACK_APP_TOKEN=your-slack-app-token
SLACK_BOT_TOKEN=your-slack-bot-token
SLACK_REPORT_CHANNEL_NAME=daily-standup

PGPORT=5432
PGDATABASE=tacostand
PGUSER=tacostand
PGHOST=localhost
PGPASSWORD=tacostand

# use a tool such as crontab.guru to generate this string
# this example means - every day from Monday through Friday, at 18:00 UTC
CRON_EXPRESSION="0 18 * * 1-5"

DEBUG_MODE=false
